<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGpzcYaY5Ln9LUKzhZgycKnVIf_MmM1bA</string>
	<key>GCM_SENDER_ID</key>
	<string>575154789152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.food.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>food-ff71f</string>
	<key>STORAGE_BUCKET</key>
	<string>food-ff71f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575154789152:ios:00b320847355c0c50c9545</string>
</dict>
</plist>